.BoldText
{
  font-weight : bold;
}  

canvas
{
	border 		: 	1px solid lightgray;
	margin 		: 	0 auto;	
	background-color 	: 	white;
}  

.canvas-container {

	position: relative;
}

.main_menu_option
{
	margin 		: 	5px;
}

.documentBody
{
	font-family			: 	"Courier";
	background-color 	: 	white;
}

.mainLabel
{
	font-size: xx-large;
}

.selectionInfoPanel
{
	font-family			: "Courier";
	
	border-style: solid;
	border-color: lightgreen;
	border-radius: 10px;

	color: black;

	padding: 10;

	width: 300;
	height: 400;

	position: absolute;
  
	top: 33;
  	left: 33;
  
	z-index: 2;

	opacity: 0.5;

	background-color: #F0F0F0;
}

.column-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.row-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}